.breadcrumb {
  font-weight: 700;
  margin-bottom: .7em;
  padding: 0;

  li {
    @include font-size(1.3);
    list-style: none;
    @include inline-block;
  }

  .first a {
    &:before {
      @include icon($fa-var-home);
      margin-right: .4em;
    }
  }

  .breadcrumb-seperator {
    margin: 0 .5em;
  }
}
