@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700,800,900,100);

html {
  background: url('../images/body_backgrounds/rope_shoes.jpg');
  background-repeat: no-repeat;
  @include background-size(cover);
  font-family: 'Raleway', sans-serif;
}

body {
  text-align: center;
}

.coming-soon {
  display: block;
  margin-top: 1em;
  color: #fff;
  font-size: 40px;
  font-weight: 800;
}
