$menu-expanded: 40em;

.block--responsive-navigation-1 {
  clear: left;
  @include breakpoint($menu-expanded) {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .block__title {
    @include element-invisible;
  }

  #nav-toggle {
    font-size: 0;
    float: right;
    position: relative;
    top: 48px;

    &:before {
      font-size: 18px;
      @include icon($fa-var-bars);
      background: #fff;
      padding: 10px;
      color: $icc-orange;
      @include border-radius(3px);
    }
  }

  #nav {


    ul {
      margin: 0;
      padding: 0;

      ul {
        display: none;
      }
    }

    li {
      list-style-image: none;
      list-style-type: none;

      @include breakpoint($menu-expanded) {
        @include inline-block;
        width: auto;
        margin: 0 .7em .5em;
      }
    }

    a {
      font-weight: 700;
    }
  }
}
