@include breakpoint($menu-expanded) {
  .js #nav {
    position: relative;
  }
  .js #nav.closed {
    max-height: none;
  }
  #nav-toggle {
    display: none;
  }
}

.l-region--navigation {
  clear: both;

  @include breakpoint($menu-expanded) {
    float: left;
    clear: none;
    position: relative;
    top: 60px;
  }
}

.block--responsive-navigation-1 {

  .block__title {
    @include element-invisible;
  }

  #nav-toggle {
    font-size: 0;
    position: absolute;
    top: 90px;
    right: $mobile-horz-spacing;

    &:before {
      font-size: 18px;
      @include icon($fa-var-bars);
      padding: 10px;
      background: $icc-orange;
      color: #fff;
      @include border-radius(3px);
    }
  }

  #nav {


    ul {
      margin: 0;
      padding: 0;

      ul {
        display: none;
      }
    }

    li {
      list-style-image: none;
      list-style-type: none;

      @include breakpoint($menu-expanded) {
        @include inline-block;
        width: auto;
        margin: 0 .7em .5em;
      }
    }

    a {
      font-weight: 700;
      @include transition(background .3s);

      @include breakpoint(0 $menu-expanded) {
        background: darken($icc-gray, 5%);
        padding: 1em;
        display: block;
        border-top: 1px solid darken($icc-gray, 6%);

        &:hover,
        &:focus,
        &:active {
          background: darken($icc-gray, 2%);
        }
      }
    }
  }
}
