/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
  @include box-sizing(border-box);
}

.l-container {
  max-width: $page-max-width;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $base-font-stack;
  font-size: 1.6em;
  color: $base-font-color;
  line-height: 1.6;
}

.l-main {
  border-top: 10px solid $icc-orange;
  background: $icc-cream;
  padding: 0 $mobile-horz-spacing 1em $mobile-horz-spacing;

  @include breakpoint($page-max-width) {
    padding: 1em 0;
  }
}

.l-main-tasks {
  @extend %set-max-width;
  padding-top: $mobile-horz-spacing;
}

.node-type-background-image,
.page-user {
  .l-content {
    @extend %set-max-width;
  }
}
