/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
  @include box-sizing(border-box);
}

.container {
  max-width: $page-max-width;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;

  @include breakpoint($page-max-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: $base-font-stack;
  font-size: 1.6em;
  color: $base-font-color;
  line-height: 1.6;
}

.l-main {
  border-top: 10px solid $icc-orange;
  background: $icc-cream;

  @include breakpoint($page-max-width) {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.l-main-tasks {
  @extend %set-max-width;
  padding-top: $mobile-horz-spacing;
}

.page-user {
  .l-content {
    @extend %set-max-width;
  }
}
