$icc-green: #667241;
$icc-gray: #414141;
$icc-orange: #DBA44A;
$icc-cream: #F2E9D7;
$icc-brown: #8E5920;

$gray-light: #725728;

$mp-blue: #336799;

// Functional color variables.
$base-font-color: #555;
$primary-link-color: $icc-brown;
//#1B6E98;
