@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700,800,900,100);
@import url(http://fonts.googleapis.com/css?family=Bevan);

$base-font-stack: 'Raleway', sans-serif;
$bevan: 'Bevan', cursive;
$base-font-size: 1.6;
