@import "mixins";

%font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%views-teaser-listing {
  .views-row {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid $icc-orange;
  }

  .views-field-title h2 {
    margin-bottom: .2em;
  }

  .views-field-view-node a {
    @include font-size(1.4);
    @include inline-block;
    background: $icc-green;
    color: $icc-cream;
    padding: .3em 1em;
    font-weight: 600;
  }

  .views-field-body {
    margin: 1em 0;
  }
}

%set-max-width {
  max-width: $page-max-width;
  margin: 0 auto;
}
