$bp-float-col: 900px;

.view-display-id-crags_listing {
  $grids: 1;
  $grids: add-grid(12 at $bp-float-col);
  $gutters: 1/3;
  @include pie-clearfix;

  padding: 2em;

  .views-row {
    @include breakpoint($bp-float-col) {
      @include float-span(4);

      &:nth-child(3n+1) {
        @include float-span(4, 'first');
      }

      &:nth-child(3n+3) {
        @include float-span(4, 'last');
      }

      margin-bottom: 1.5em;
    }
  }

  .views-field-title {

    h2 {
      margin: 0;
    }

    a {
      @extend %font-smoothing;
      display: block;
      background: $icc-green;
      color: #fff;
      padding: 1em;
      @include font-size(1.4);
    }
  }

  img {
    width: 100%;
  }
}
