$bp-float-col: 900px;

.view-display-id-crags_listing {
  $grids: 1;
  $grids: add-grid(12 at $bp-float-col);
  $gutters: $mobile-horz-spacing;
  @include pie-clearfix;

  @include breakpoint($bp-float-col) {
    margin: 0 $mobile-horz-spacing;
  }

  .views-row {
    @include breakpoint($bp-float-col) {
      @include float-span(4);

      &:nth-child(3n+1) {
        @include float-span(4, 'first');
      }

      &:nth-child(3n+3) {
        @include float-span(4, 'last');
        padding: 0;
      }
    }
  }

  .views-field-title {

    .views-field-title-title {
      margin: 0;
      padding: 1em;
      @include font-size(1.6);
      color: #fff;
      font-weight: 600;
      @include box-shadow(0px 8px 8px -4px rgba(0,0,0,.3));
      position: relative;
    }

    a {
      @extend %font-smoothing;
      display: block;
      background: $icc-green;

      * {
        @include transition(all .5s);
      }

      &:hover,
      &:focus,
      &:active {
        background: $icc-brown;

        img {
          @include opacity(.5);
          @include filter(grayscale(90%));
        }
      }
    }
  }

  img {
    width: 100%;
  }
}
