input {
  max-width: 100%;
}

.form-text,
.form-textarea, {
  background: lighten($icc-cream, 5%);
  border: 1px solid #aaa;
}

.form-text,
.form-textarea,
.form-submit {
  padding: .5em;
}

.form-submit {
  font-weight: 700;

}
