h1, h2, h3, h4, h5, h6 {
  margin: 0 0 12px 0;
  color: $icc-brown;
  line-height: normal;
}

h3, h4, h5, h6 {
  @include font-size(1.9);
}

a {
  text-decoration: none;
  color: $primary-link-color;
}
